<h1>Z Fleet Manager</h1>

<ul>
  <li><%= link_to "crew_members", crew_members_path %></li>
  <li><%= link_to "warships_path", warships_path %></li>
  <li><%= link_to "mobile_suits", mobile_suits_path %></li>
  <li><%= link_to "pilot_assignments", pilot_assignments_path %></li>
</ul>