<div id="<%= dom_id pilot_assignment %>">
  <div>
    <strong>Warship:</strong>
    <%= pilot_assignment.warship_id %>
  </div>

  <div>
    <strong>Crew member:</strong>
    <%= pilot_assignment.crew_member_id %>
  </div>

  <div>
    <strong>Mobile suit:</strong>
    <%= pilot_assignment.mobile_suit_id %>
  </div>

</div>
