<% content_for :title, "Assign mobile suit" %>

<h1>Assign mobile suit</h1>

<%= render "form", pilot_assignment: @pilot_assignment %>

<br>

<div>
  <%= link_to "Back to warship", @pilot_assignment.warship %>
</div>
