<% content_for :title, "Hire pilot" %>

<h1>Hire pilot</h1>

<%= render "form", pilot_assignment: @pilot_assignment %>

<br>

<div>
  <% if @pilot_assignment.warship.present? %>
    <%= link_to "Back to warship", @pilot_assignment.warship %>
  <% else %>
    <%= link_to "Back to pilot assignments", pilot_assignments_path %>
  <% end %>
</div>
